@{
    ViewData["Title"] = "Home Page";
}

    

<body class="is-preload">
<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Registrazione</h1>
							<p class="major">Qui potrai effettuare il <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a> , ma se ancora non ti sei registrato effettua la <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registra"> Registrazione </a>qui. Se vuoi uscire dal account , clicca qui su <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">LogOut</a>.</p>
							<ul class="actions stacked">
								<li><a class="button big wide smooth-scroll-middle" asp-area="" asp-controller="Home" asp-action="Prenota">Prenota</a></li>
							</ul>
							<ul class="actions stacked">
								<li><a class="button big wide smooth-scroll-middle" asp-area="" asp-controller="Home" asp-action="Upload">Upload</a></li>
							</ul>
							<ul class="actions stacked">
								<li><a class="button big wide smooth-scroll-middle" asp-area="" asp-controller="Home" asp-action="Elenco">Elenco</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/html5up-story/images/edin.jpg" alt="" data-position="left "/>
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Primo stemma</h2>
							<p>Venne creato il celebre "lupetto" nero stilizzato con l'occhio rosso, 
								che dal 1978 al 1980 compariva incorniciato da due cerchi concentrici, 
								uno giallo e uno rosso; nel corso degli anni furono ideate nuove varianti 
								di questo stemma: quella in uso nelle divise dal 1980 al 1991 vide un lupetto 
								bianco dentro uno stemma circolare rosso, dal 1991 al 1996 il lupetto era prima 
								giallo e poi arancione e nella stagione 1996-1997 il lupetto fu incorniciato in uno scudo rosso bordato di arancione.</p>
							<ul class="actions stacked">
								<li><a href="#" class="button">Torna su</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/html5up-story/images/gallery/fulls/1.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Stemma Anni 2000</h2>
							<p>Uno Stemma rinnovato e rimodernizzato , e utilizzato fino alla stagione 2012-2013.</p>
							<ul class="actions stacked">
								<li><a href="#" class="button">Torna su</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/html5up-story/images/gallery/fulls/4.jpeg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Nuovo stemma</h2>
							<p>Questo è l'ultimo stemma utilizzato dalla Roma, designato proprio dalla nuova proprietà statunitense.</p>
							<ul class="actions stacked">
								<li><a href="#" class="button">Torna su</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/html5up-story/images/gallery/fulls/2.jpg" alt="" />
						</div>
					</section>

				<!-- Five -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Giocatori As Roma</h2>
							<p>L'Associazione Sportiva Roma, nota anche come AS Roma o, più semplicemente, Roma, è una società calcistica italiana con sede nella città di Roma. Nella stagione 2020-2021 milita nel campionato di Serie A, massimo livello della piramide calcistica italiana.</p>
						</div>

						<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="/html5up-story/immagini/5.jpg" class="image">
										<img src="/html5up-story/immagini/5.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Lorenzo Pellegrini</h3>
										<p>Lorenzo Pellegrini è un calciatore italiano, centrocampista della Roma, di cui è capitano, e della nazionale italiana.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/ibanez.jpg" class="image">
										<img src="/html5up-story/immagini/ibanez.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Roger Ibanez</h3>
										<p>Roger Ibañez da Silva è un calciatore brasiliano di origini uruguaiane, difensore della Roma.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/zaniolo.jpg" class="image">
										<img src="/html5up-story/immagini/zaniolo.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Niccolò Zaniolo</h3>
										<p>Nicolò Zaniolo è un calciatore italiano, centrocampista della Roma, della nazionale italiana e della nazionale Under-21 italiana.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/villar.jpg" class="image">
										<img src="/html5up-story/immagini/villar.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Gonzalo Villar</h3>
										<p>Gonzalo Villar del Fraile è un calciatore spagnolo, centrocampista della Roma e della nazionale Under-21 spagnola.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/pedro.jpg" class="image">
										<img src="/html5up-story/immagini/pedro.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Pedro</h3>
										<p>Pedro Eliezer Rodríguez Ledesma, meglio noto come Pedro o Pedrito, è un calciatore spagnolo, attaccante della Roma. Con la nazionale spagnola si è laureato campione del mondo nel 2010 e campione d'Europa nel 2012.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/veretout.jpg" class="image">
										<img src="/html5up-story/immagini/veretout.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Jordan Veretout</h3>
										<p>Jordan Marcel Gilbert Veretout è un calciatore francese, centrocampista della Roma.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/lopez.jpeg" class="image">
										<img src="/html5up-story/immagini/lopez.jpeg" alt="" />
									</a>
									<div class="caption">
										<h3>Pau Lopez</h3>
										<p>Pau López Sabata è un calciatore spagnolo, portiere della Roma e della nazionale spagnola.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/mkhitaryan.jpg" class="image">
										<img src="/html5up-story/immagini/mkhitaryan.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Henrikh Mkhitaryan</h3>
										<p>Henrix Hamleti Mxit'aryan è un calciatore armeno, centrocampista o attaccante della Roma e della nazionale armena, di cui è capitano e miglior marcatore di tutti i tempi con 30 reti.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/dzeko.jpg" class="image">
										<img src="/html5up-story/immagini/dzeko.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Edin Džeko</h3>
										<p>Edin Džeko è un calciatore bosniaco, attaccante della Roma e della nazionale bosniaca, della quale è capitano. Con 59 reti siglate in 114 presenze è il miglior realizzatore di sempre nonché primatista di presenze della Bosnia ed Erzegovina. </p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/cristante.jpg" class="image">
										<img src="/html5up-story/immagini/cristante.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Bryan Cristante</h3>
										<p>Bryan Cristante è un calciatore italiano, centrocampista o difensore della Roma e della nazionale italiana</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/spinazzola.jpg" class="image">
										<img src="/html5up-story/immagini/spinazzola.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Leonardo Spinazzola</h3>
										<p>Leonardo Spinazzola è un calciatore italiano, difensore o centrocampista della Roma e della nazionale italiana.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/html5up-story/immagini/mancini.jpg" class="image">
										<img src="/html5up-story/immagini/mancini.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Gianluca Mancini</h3>
										<p>Gianluca Mancini è un calciatore italiano, difensore della Roma e della nazionale italiana. </p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
							</div>

					</section>

				<!-- Six -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Formazione As Roma</h2>
							<p>Formazione titolare dell'As Roma</p>
							<div class="items style1 medium onscroll-fade-in">
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Pau Lopez</h3>
									<p>Il portiere, è il giocatore il cui obiettivo principale è quello di impedire che la palla entri in porta durante la partita. Il portiere è l'unico giocatore che può toccare il pallone con le mani durante il gioco attivo, ma solo all'interno della propria area.</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Rick Karsdorp</h3>
									<p>terzino fluidificante, destro o sinistro, che, oltre a svolgere i compiti del classico terzino, propone e costruisce il gioco sulle fasce laterali.</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Gianluca Mancini</h3>
									<p>difensore centrale Nel calcio moderno, che prevede generalmente le difese schierate in linea, i ruoli di stopper e libero sono stati riunificati dalla definizione di difensore centrale. Rappresenta il punto di riferimento e il perno di tutta la difesa. Spesso è dotato di grande statura, utile nel contrastare gli avversari sulle palle aeree.</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Roger Ibanez</h3>
									<p>difensore centrale Nel calcio moderno, che prevede generalmente le difese schierate in linea, i ruoli di stopper e libero sono stati riunificati dalla definizione di difensore centrale. Rappresenta il punto di riferimento e il perno di tutta la difesa. Spesso è dotato di grande statura, utile nel contrastare gli avversari sulle palle aeree.</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Leonardo Spinazzola</h3>
									<p>terzino fluidificante, destro o sinistro, che, oltre a svolgere i compiti del classico terzino, propone e costruisce il gioco sulle fasce laterali.</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Jordan Veretout</h3>
									<p>Il centrale è il centrocampista per eccellenza, che opera appunto nella corsia centrale. Non è identificabile né con i mediani né con gli interni. Effettua, infatti, molto bene entrambe le fasi di gioco, sia quella di impostazione che quella difensiva. </p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Bryan Cristante</h3>
									<p>Il mediano può essere di spinta, di interdizione (detto anche interditore o incontrista) o di appoggio, è il più arretrato e ha il compito di tamponare le azioni degli avversari e ricostruire il gioco. 
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Niccolò Zaniolo</h3>
									<p>Il rifinitore o trequartista o mezzapunta, metà centrocampista e metà attaccante, parte tra le due linee, essendo il suo terreno ideale d'azione la trequarti avversaria, e gioca solitamente alle spalle delle punte. </p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Pedro</h3>
									<p>ala destra, è l'attaccante esterno che partendo dalle fasce cerca il fondo per il cross, o si accentra per concludere egli stesso; è spesso un giocatore dal fisico non atletico, ma è veloce, bravo nei dribbling e nei cross</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Henrikh Mkhitaryan</h3>
									<p>ala sinistra, è l'attaccante esterno che partendo dalle fasce cerca il fondo per il cross, o si accentra per concludere egli stesso; è spesso un giocatore dal fisico non atletico, ma è veloce, bravo nei dribbling e nei cross</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Edin Dzeko</h3>
									<p>Il centravanti si muove prevalentemente sull'asse centrale, sebbene nel calcio moderno la prima punta si muova il più delle volte in orizzontale e lavori spesso spalle alla porta. Forte fisicamente, è in grado di resistere ai contrasti con i difensori e di colpire efficacemente di testa.</p>
								</section>
								<section>
									<span class="icon style2 major fa-gem"></span>
									<h3>Josè Mourinho</h3>
									<p>José Mário dos Santos Mourinho Félix, noto semplicemente come José Mourinho, è un allenatore di calcio ed ex calciatore portoghese, di ruolo difensore. Dal 1º luglio 2021 sarà il nuovo tecnico della Roma.</p>
								</section>
							</div>
						</div>
					</section>

				

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							
							<p>&copy; Realizzato da: Alessandro Busi - <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>.</p>
						</div>
					</footer>

			</div>
</body>
</html>